.root {
  height: 100vh;
  width: 100vw;
}

.main_container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo img {
  height: 40px;
}

.logo span {
  text-align: center;
  font-size: 35px;
  color: rgb(60, 6, 161);
  font-weight: bold;
}
