* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #caceca;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}
