.searchbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11%;
}

.search_icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 148px;
  top: 50%;
  transform: translateY(-50%);
}

.searchbar input {
  width: 80%;
  font-size: 15px;
  padding: 8px 40px;
  border-radius: 30px;
  border: 1px solid grey;
  outline: none;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .searchbar {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #310257;
  }

  .search_icon {
    left: 30px;
  }

  .searchbar input {
    width: 100%;
    border-radius: 5px;
    padding: 8px 40px;
  }
}
