.main {
  height: 80vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.back_btn {
  background-color: #310257;
  color: #fff;
  padding: 8px 30px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.sec_name {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 8px;
}

.title {
  font-size: 23px;
  font-weight: bold;
}

.invoice_container {
  width: 95%;
  height: 75%;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main_card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.list_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.left img {
  height: 43px;
}

.user_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: grey;
  width: 200px;
}

.userName {
  font-size: 17px;
}

.address {
  font-size: 15px;
}

.view_invoice {
  background-color: #310257;
  color: #fff;
  padding: 8px 35px;
  font-size: 17px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.horizontal_divider {
  width: 100%;
  height: 2px;
  background-color: lightgrey;
}

.different_main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.back_btn {
  background-color: #310257;
  color: #fff;
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.sec_name {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 8px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.invoice_main_conatiner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 65%;
}

.address {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.address_title {
  color: #b52b00;
  font-size: 20px;
  font-weight: bold;
}

.user_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.username {
  color: grey;
  font-size: 17px;
}

.textarea_container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.textarea_container textarea {
  font-family: "Roboto";
  resize: none;
  outline: none;
  border: none;
  padding: 7px;
}

.horizontal_divider {
  width: 100%;
  height: 1px;
  background-color: grey;
}

.payment_mode {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.payment_title {
  color: #b52b00;
  font-size: 20px;
  font-weight: bold;
}

.select_container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.payment_method {
  padding: 8px 84px;
  outline: none;
  font-size: 13px;
  color: grey;
}

.reviews {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.review_title {
  color: #b52b00;
  font-size: 20px;
  font-weight: bold;
}

.review_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 42%;
}

.product_img_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #310257;
  cursor: pointer;
  border-radius: 7px;
}

.img_container img {
  height: 70px;
  width: 70px;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product_name {
  font-weight: bold;
  font-size: 18px;
}

.product_color {
  color: grey;
}

.final_place_order {
  width: 23vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

.orderSummary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.orderSummary_title {
  font-size: 18px;
  font-weight: bold;
}

.delivery_details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  color: grey;
}

.total_order {
  display: flex;
  justify-content: space-between;
  color: #b52b00;
  font-size: 18px;
  font-weight: bold;
}
