.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 0 35px;
  color: #fff;
  background-color: #310257;
}

.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.offer_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.empty {
  height: 18px;
  width: 1px;
  background-color: #fff;
}

.btn_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.login_btn {
  cursor: pointer;
}

.signup_btn {
  cursor: pointer;
}

.logout {
  padding: 0 34px;
  cursor: pointer;
}

.adjust {
  padding-left: 120px;
}
