.outer_div {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 32%;
}

.inner_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  border-radius: 7px;
  padding: 20px;
}

.form_container {
  display: flex;
  justify-content: center;
}

.form_name {
  font-size: 30px;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2px;
  margin-top: 10px;
}

.label {
  font-size: 16px;
  font-weight: bold;
}

.input {
  border-radius: 7px;
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  outline: none;
  background-color: #fff;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 15px;
}

.term_condition {
  font-size: 14px;
  margin-top: 15px;
}

.continue {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #310257;
  font-size: 17px;
  height: 40px;
  width: 100%;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
}

.para {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty {
  height: 2px;
  width: 33%;
  background-color: grey;
}

.para p {
  font-size: 16px;
  width: 33%;
  text-align: center;
}

.goto_register {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid grey;
  background-color: #fff;
  cursor: pointer;
}

.active {
  background-color: lightgray;
}

.error {
  color: red;
  font-size: 11px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .outer_div {
    width: 90%;
    justify-content: flex-start;
  }

  .inner_div {
    width: 100%;
    padding: 15px;
  }

  .welcome {
    align-self: flex-start;
    font-size: 45px;
    margin-top: 15px;
    color: #310257;
  }

  .query_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    margin-bottom: 20px;
  }

  .query_container .sign_in {
    font-weight: bold;
    font-size: 20px;
  }

  .para p {
    font-size: 14px;
  }

  .name {
    gap: 5px;
  }
}
