.nav_container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
  display: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_title {
  font-size: 13px;
}

.home_icon {
  display: flex;
  flex-direction: column;
  color: #310257;
  cursor: pointer;
}

.cart_icon {
  display: flex;
  flex-direction: column;
  color: #310257;
  cursor: pointer;
}

.invoice_icon {
  display: flex;
  flex-direction: column;
  color: #310257;
  cursor: pointer;
}

.login_icon {
  display: flex;
  flex-direction: column;
  color: #310257;
  cursor: pointer;
}

.logout_icon {
  display: flex;
  flex-direction: column;
  color: #310257;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.logo_title img {
  height: 30px;
}

.title {
  font-size: 25px;
  color: #310257;
  font-weight: bold;
}

.invoice {
  cursor: pointer;
}

.user_details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 20px;
  border-radius: 30px;
  background-color: darkgreen;
  cursor: pointer;
}

.cart_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_count {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.user_info {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.dropdown_div {
  position: absolute;
  top: 47px;
  right: -65px;
  width: 180px;
  border-radius: 15px;
  z-index: 1;
  background-color: #fff;
  font-size: 15px;
  border: 2px solid lightgray;
}

.user_name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 10px 0 8px 0;
  cursor: default;
}

.separator {
  height: 1px;
  background-color: lightgray;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 0 10px 0;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .nav_container {
    height: 9vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top: 2px solid grey;
  }

  .navbar {
    display: none;
  }

  .mobile_navbar {
    display: block;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart_icon .icon {
    position: relative;
  }

  .cart_count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    top: -10px;
    right: -10px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #038f03;
    color: #fff;
  }
}
