.outer_div {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 32%;
}

.inner_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  border-radius: 7px;
  padding: 20px;
}

.form_container {
  display: flex;
  justify-content: center;
}

.form_name {
  font-size: 30px;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2px;
  margin-top: 5px;
}

.label {
  font-size: 16px;
  font-weight: bold;
}

.input {
  border-radius: 7px;
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  outline: none;
  background-color: #fff;
}

.policy {
  font-size: 14px;
  margin-top: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 10px;
}

.continue {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 6, 161);
  color: #fff;
  font-size: 17px;
  height: 40px;
  width: 170px;
  border-radius: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.term_condition {
  font-size: 14px;
  margin-top: 10px;
}

.sign_in_msg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.sign_in {
  text-decoration: underline;
  font-weight: normal;
  cursor: pointer;
}

.error {
  display: flex;
  gap: 10px;
  color: red;
  font-size: 11px;
}
